#!/usr/bin/env chezmoi_modify_manager

source auto

{{/* UUID: jmlqwmnr72mz5x4nqihgmphkuq | Name: License-MasterPdfEditor-AKu */}}
set "General" "RegistrationCode" {{
  onepasswordRead "op://Personal/jmlqwmnr72mz5x4nqihgmphkuq/reg_code" | quote 
}} separator="="

set "General" "check_updates" "0" separator="="

set "General" "cetification_paths" "/var/home/{{ .chezmoi.username }}/.certs/, /var/home/{{ .chezmoi.username }}/.local/share/certs/, /etc/ssl/certs/, /usr/local/share/ca-certificates/, /etc/pki/tls/certs/" separator="="

ignore regex ".*" ".*"