#!/usr/bin/env chezmoi_modify_manager

source auto

set "General" "RegistrationCode" {{
  onepasswordRead "op://Personal/License-MasterPdfEditor-AKu/reg_code" | quote 
}} separator="="

set "General" "check_updates" "0" separator="="

ignore regex ".*" ".*"
