#!/usr/bin/env chezmoi_modify_manager

source auto

set "General" "RegistrationCode" {{ (bitwardenFields "item" (bitwarden "item" "License - Code Industry - Master PDF Editor - AKurpanek").id).Lizenzschlüssel.value | quote }} separator="="
set "General" "check_updates" "0" separator="="
ignore regex ".*" ".*"
